<% include header %>

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>The Game of Theta Tau: Season 2</h1>
        <p class="lead">Problem 5</p>
    </div>
</header>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="\">The Game of Theta Tau: Season 2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<section id="p1" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto container">
                <h2>Problem 5</h2>
                <p class="lead">I am the beginning of the end, and the end of time and space. I am essential to creation, and I surround every place. Who am I?</p>
                <form action="/p6" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="answer" placeholder="">
                        <button type="submit" class="btn btn-primary mb-2 my-3">Submit Answer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<% include footer %>
