<% include header %>

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>The Game of Theta Tau: Season 2</h1>
        <p class="lead">Problem 5</p>
    </div>
</header>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="\">The Game of Theta Tau: Season 2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <% if (!currentUser) { %>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/login">Login</a></li>
                <% } else { %>
                <li class="nav-item"><a class="nav-link js-scroll-trigger">Signed in as <strong><%= currentUser.username %></strong></a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<section id="p1" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto container">
                <h2>Problem 5</h2>
                <% if (currentUser.username === 'team1') { %>
                <img class="img-fluid" src="https://raw.githubusercontent.com/floydchenchen/pictures/master/WechatIMG9.jpeg" alt="">
                <% } else if (currentUser.username === 'team2') { %>
                <img class="img-fluid" src="https://raw.githubusercontent.com/floydchenchen/pictures/master/WechatIMG10.jpeg" alt="">
                <% } else if (currentUser.username === 'team3') { %>
                <img class="img-fluid" src="https://raw.githubusercontent.com/floydchenchen/pictures/master/WechatIMG13.jpeg" alt="">
                <% } else if (currentUser.username === 'team4') { %>
                <img class="img-fluid" src="https://github.com/floydchenchen/pictures/blob/master/WechatIMG14.jpeg?raw=true" alt="">
                <% } %>
                <form class="my-3" action="/p6" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="answer" placeholder="">
                        <button type="submit" class="btn btn-primary mb-2 my-3">Submit Answer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<% include footer %>
