<!-- ````````````````````````````````````````````````````````````````````````````````````````````````````
````````````````````````````````````````````````````````````````````````````````````````````````````
```````````````````````````````````````````````````````````````````````````````````````````````:-```
``````````````````````````````````````````````````````````````````````````````````````````./sdd:````
````````````````````````````````````````````````````````````````:.````````````````````-+yhydm+``````
```````````````````````````````````````````````````````````./sdNo`````````````````:ohhs/:+ds````````
``````````````````````````````````````````````````:o.``:+yhy++m+`````````````./shho:``./hh-`````````
``````````````````````````````````````````````:ohhNmshhs/.` :ds``````````-+yhy+-`.` `:sm/```````````
``````````````````````````````````````````:ohhs:-+y+-.-/ss .yd``````./ohhs/.``/oo. -/dy.````````````
```````````````````````````````````````:hhs:.-` ..:+ssyddo`+N-``-+yhho:``   `os: .:yd:``````````````
`````````````````````````````````````./mo..shy/+ ydh. ydh`:myoyhy+-`.:+s.  .so.`-+mo````````````````
`````````````````````````````````-+yhy+-`-ydhs/.:dd/ /dd:.ohs:.` -+ssss/  /s/`.:yd-`````````````````
`````````````````````````````:oyhy/..:+o-hdd:  `hdy .hds .`.-  :ssssss`.os-`-+mo````````````````````
```````````````````````````oms/.-: `ydd:`hds   odh.`ss/.-+sso` +osssss-:s+`.:yd-````````````````````
`````````````````````````-dd:`ohd:.yddo sdh.`.:dy+`-/+-`ssss-`o+/ssss++s:`-+mo``````````````````````
````````````````````````+Ns.-ydds-oydh`:ddhys`::/ossss.+sss+.o/.sssssso.`:yd-```````````````````````
``````````````````````.hd/`/yhdh/+/dd: +s/`-+sssossss+-ssss:s- osssss/`-+mo`````````````````````````
`````````````````````+Ns..s+/ddy+.hyo`.` `osss. `ssss.ssssos. :sssss-`:yd-``````````````````````````
```````````````````.hd/`:y-`hdh/ ://osso`osss..:osss-/sssso` `sso/-`.+my+-``````````````````````````
``````````````````+ms-`oo` /+//+sssssss:/sssssss+:. .ssss+`  ..`.-/shd:`-.``````````````````````````
````````````````-hd/`-s+   /ssss/:+ssso-ssss/-`  `- osso/  `.-+shhs/.```````````````````````````````
```````````````omo. `` `. .ssss` `ssss.osss- .:+ss.-/-`..:oyhyo:````````````````````````````````````
`````````````:dy:``.-/o:``osss-  +sss//ssssosss+:.`.-/ohhy+-````````````````````````````````````````
```````````.yd+:/oyhhMs. +sss/  :ssss.sssso/-.`.-+shhs/.````````````````````````````````````````````
``````````omhyhys/.`hh- :ssso  -ssss..+/-``.:oyhyo:`````````````````````````````````````````````````
````````+mds/-`````sd: -ssss/+ssso:`.-.-/oyhy+-`````````````````````````````````````````````````````
```````:-`````````+m/``sssssso/:.`./yhyys/.`````````````````````````````````````````````````````````
`````````````````/N/` osso/-``.:oyhs:```````````````````````````````````````````````````````````````
````````````````:N+. ::.`.-/oyhy+-``````````````````````````````````````````````````````````````````
```````````````-m+. `.-/shhs/.``````````````````````````````````````````````````````````````````````
``````````````:m+::+yhyo:```````````````````````````````````````````````````````````````````````````
`````````````/Nyyhy+-```````````````````````````````````````````````````````````````````````````````
````````````ods/.```````````````````````````````````````````````````````````````````````````````````
````````````````````````````````````````````````````````````````````````````````````````````````````
```````````````````````````````````````````````````````````````````````````````````````````````````` -->
<html>
<form action="/p10" method="POST">
    <div class="form-group">
        <input class="form-control" type="text" name="answer" placeholder="">
        <button type="submit" class="btn btn-primary mb-2 my-3">Submit Answer</button>
    </div>
</form>
</html>
